@charset "UTF-8";

/* 共通部分の記述 */
html{
font-size:100%;
}
body{
	font-family:"Yu Gothic Medium", "游ゴシック Medium", YouGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif; 
	line-height:1.7;
	color:#000;
	padding-top: 100px;
	
	
}
a{
	text-decoration:none;
}
img{
	max-width:100%;
}

/* ヘッダー部分 */
.headerStyle{
	font-family: 'Noto Serif JP', serif;
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:100px;
	background:#000;
	z-index:10;
	text-align:center;
	font-weight:bold;
}
.hdStrBig{
	font-size:35px;
	line-height:70px;
	color:#F4F2DB;
}
.hdStrsmall{
	font-size:20px;
	line-height:15px;
}
.hdStrsmall li{
    margin-left:50px;
}
.logo{
    width:210px;
    margin-top:30px;
    color:#F4F2D8;
    }
.hdStrsmall a{
	color:#F4F2DB;
}
.hdStrsmall a:hover{
	color:#6CB2D3;
}
.page-header{
	display:flex;
	justify-content:space-between;
}
.wrapper{
	max-width:1100px;
	margin:0 auto;
	padding:0 4%;
}


/* ホーム */
.home-contact{
	text-align:center;
	margin-top:4%;
}
.home-contact p{
	font-size:1.125rem;
	margin:10px 0 42px;
}

.icon{
	margin-left: auto;
}

/* 見出し */
.page-title{
	font-size:3rem;
	font-family: 'Noto Serif JP', serif;
	font-weight:normal;
	text-align:center;
}

.point{
	cursor:default;
}

/* 部分色変えのCSS */

.str{
	font-weight:bold;
	color:#ff0000;
}
.str2{
	font-family:'ＭＳ Ｐ明朝';
	font-weight:bold;
	color:#6C4E21;
}
.str3{
	font-family:'ＭＳ Ｐゴシック';
	font-weight:bold;
	font-size:150%;
}
.slush{
	color:#F4F2D8;
}

 /* インデントの指定 */
.indent {
  max-width       : 1000px;
  background      : #F8E9D1;
  text-align	  : left;
}
/*背景画像1*/
.bgImageind{
	background-image:url(../image/ima_01.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	/*background-color:#464646;*/
	overflow: hidden;
	opacity: 0.3;
}
/*ぼかし*/
.bgImageind:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

/*背景画像2*/
.bgImageabo{
	background-image:url(../image/ima_02.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	/*background-color:#464646;*/
	overflow: hidden;
}
/*ぼかし*/
.bgImageabo:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

/*背景画像3*/
.bgImagewor{
	background-image:url(../image/ima_03.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	/*background-color:#464646;*/
	overflow: hidden;
}
/*ぼかし*/
.bgImagewor:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}


/* グリッドコンテンツ */
.item{
    background:#00f;
    color:#fff;
    padding:10px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    grid-template-rows: 200px 200px 200px 200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}

/*フッター*/


.footerStyle{
  position    : fixed;
  bottom      : 0;
  left        : 0;
  right       : 0;
  height      : 50px;
  background  : #000;
  z-index     : 10;
  text-align  : center;
  font-weight : bold;
}

#copyright {
	color:#D0DEEA;
	text-align: center;
	font-size: 0.82rem;
}

