@charset "UTF-8";



table{
margin:auto;
}

.workbox {
  margin        : auto;                 /* サンプル用 中央寄せ*/
  box-sizing    : border-box;           /* 罫線も含む長さ*/
  width         : 100%;                 /* BOXの幅*/
  max-width     : 700px;                /* BOXの最大幅*/
  height        : 720px;                /* BOXの高さ*/
  padding       : 26px;                 /* 文字の位置*/
  font-size     : 30px;                 /* 文字サイズ*/
  text-align    : center;               /* 文字位置*/
  color         : #000000;              /* 文字色*/

  background    : rgba(255, 255, 255, 0.57);              /*背景色*/
  border        : 4px double #7f4600;   /*枠線の指定*/
  border-radius : 1px;                  /*角丸の指定*/
  box-shadow    : 0 0 0 11px rgba(255, 255, 255, 0.57);   /* 影を利用した外余白*/
}

/*ボタン*/
.marubotun{
  position: relative;
  width:100px;
  height:100px;
    box-sizing: border-box;
    padding: 0 10px;
  text-align: center;
  background:#333;
  border-radius:50%;
  color: #fff;
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marubotun:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
    width: 85%;
  height: 85%;
  border: 2px solid #333;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1.1);
    transition: .3s ease; 
  }

.marubotun:hover:after {
  transform: translate(-50%, -50%) scale(1);
    border-color:#fff;
}
